<!DOCTYPE html>
<html xmlns:th = "Http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fleet Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Fleet Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/vehicle.html}">Vehicle Management</a>
      </li>
    </ul>
  </div>
</nav>
<div class = "containter">
  <div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-centre card">
      <div align = "center">
        <h1>Create New Vehicle</h1>
      </div>
      <div class="card-body">
        <form th:action="@{/vehicles/new}" th:object="${vehicle}" method = "POST">
          <div class = "form-group">
            <label>Vehicle Name</label>
            <input type="text"
                   name = "name"
                   th:field = "*{name}"
                   class = "form-control"
                   placeholder="Enter Vehicle Name"/>
          </div>
          <div class = "form-group">
            <label>Student SurName</label>
            <input type="text"
                   name = "surname"
                   th:field = "*{surname}"
                   class = "form-control"
                   placeholder="Enter Student surName"/>
          </div>
          <div class = "form-group">
            <label>Student Email</label>
            <input type="text"
                   name = "email"
                   th:field = "*{email}"
                   class = "form-control"
                   placeholder="Enter Student email"/>
          </div>
          <div class = "box-footer">
            <button type = "submit" class = "btn btn btn-primary">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>